<ion-header>
  <ion-navbar>
    <ion-title>
      GeoFencing
    </ion-title>
    <ion-buttons end>
    </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col >
          <button ion-button  [disabled]="isTracking || hasPoly" (click)="addPolly()">Add Polly</button>
      </ion-col>
      <ion-col >
          <button ion-button [disabled]="isTracking" (click)="clearMap()">Clear</button>
        </ion-col>
        <ion-col>
            <ion-item> 
                <ion-label small>Track</ion-label>
                <ion-toggle [(ngModel)]="isTracking" (ngModelChange)="track()" small  [disabled]="!canTrack"></ion-toggle>
              </ion-item>
          </ion-col>
    </ion-row>
  </ion-grid>
    <div  data-tap-disabled="true" #map id="map">
      <!-- <ion-fab bottom center><button color="light" ion-fab  (click)="holdMap()">hold</button></ion-fab> -->
    </div>
    <!-- <div id="data"> -->
     <ion-item  *ngIf="inPoly && isTracking">
        <ion-label class="inMyPolly">Inside of geofence</ion-label>
     </ion-item>
     <ion-item *ngIf="!inPoly && isTracking">
        <ion-label class="outMyPoly">Outside of Geofence</ion-label>
     </ion-item>
     <ion-item *ngIf="!isTracking">
      <ion-label class="instruction">Add Point by touching the map.</ion-label>
   </ion-item>
    <!-- </div> -->
</ion-content>
